[Unit]
Description=prepare cgroups directory for yamc
After=basic.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /usr/local/bin/yamc_inscg.sh

[Install]
WantedBy=multi-user.target
