[Unit]
Description=Prapare cgroups directory for yamc
After=basic.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/install_cg.sh

[Install]
WantedBy=multi-user.target
